pandas==1.3.3
pyspark==3.1.2
tensorflow==2.5.0
matplotlib==3.4.
imbalanced_learn==0.8.0
numpy==1.19.5
scipy==1.7.1 
tqdm==4.36.1
hyperopt==0.2.5
imblearn==0.0
python_twitter==3.5
scikit_learn==0.24.2
